[Desktop Entry]
Name=Hardware Temperature Monitor
Name[zh_CN]=硬件温度监控器
Comment=a plasmoid designed to monitor various hardware informations such as cpu and gpu temperature.
Comment[zh_CN]=用于监控各类硬件信息（比如CPU和GPU温度）的KDE桌面小部件
Icon=hwmon-icon.png
 
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
 
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-Plasma-DefaultSize=200,100
X-Plasma-RequiredExtensions=LaunchApp,LocalIO

X-KDE-PluginInfo-Author=bruce.oy
X-KDE-PluginInfo-Email=bruce.oy@gmail.com
X-KDE-PluginInfo-Name=net_ubuntudaily_plasmoid_hwmon
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.ubuntudaily.net/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true